
.hero {

    background-color: $veryLightGray;

    .container {
        @include breakpoints-up(large){
            align-items: center;
            display: flex;
        }
    }

    &__image {
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        position: relative;

        @include breakpoints-up(medium){
            min-height: 25rem;
            background-position: center 70%;
        }

        @include breakpoints-up(large){
            background-image: none;
            flex: 3;
            height: 41rem;
            order: 2;
        }

        &::before {

            @include breakpoints-up(large){
                background-image: url('/images/bg-intro-desktop.svg');
                background-size: 122%;
                background-position: 0% 83%;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                height: 100%;
                width: 150%;
            }
        }

        &::after {
            content: "";
            background-image: url('/images/image-mockups.png');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;
            position: absolute;
            height: 100%;
            width: 100%;

            @include breakpoints-up(medium){
                background-size: 52%;
            }

            @include breakpoints-up(large){
                content: "";
                background-size: 94%;
                background-position: center 150%;
                position: absolute;
                height: 122%;
                width: 120%;
                left: 22%;
            }
        }
    }

    &__text {
        text-align: center;

        @include breakpoints-up(large){
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}